workflows/join-numbers.json
{
  "name": "Testing GitHub Calculator with Memory",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "testinggithub",
        "responseMode": "lastNode",
        "options": {},
        "webhookId": "a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p6"
      },
      "id": "Webhook_Trigger",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "functionCode": "const sessionId = $json.sessionId || \"default\";\nconst num1 = parseFloat($json.num1);\nconst num2 = parseFloat($json.num2);\n\nif (isNaN(num1) || isNaN(num2)) {\n  return [{ json: { error: \"Both num1 and num2 must be valid numbers.\" } }];\n}\n\nconst store = $getWorkflowStaticData('global');\nconst history = store[sessionId] || [];\n\nreturn [{\n  json: {\n    messages: [\n      ...history,\n      { role: \"user\", content: `Add ${num1} and ${num2}` }\n    ],\n    sessionId,\n    num1,\n    num2\n  }\n}];"
      },
      "id": "Prepare_Memory",
      "name": "Prepare Memory & Numbers",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": "={{ $json[\"messages\"] }}"
      },
      "id": "ChatGPT",
      "name": "ChatGPT Add Numbers",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "functionCode": "const sessionId = $json.sessionId;\nconst reply = $json.data[0].message.content;\nconst store = $getWorkflowStaticData('global');\n\nstore[sessionId] = [\n  ...($getWorkflowStaticData('global')[sessionId] || []),\n  { role: \"user\", content: `Add ${$json.num1} and ${$json.num2}` },\n  { role: \"assistant\", content: reply }\n];\n\nreturn [{ json: { reply } }];"
      },
      "id": "Save_Memory",
      "name": "Save Memory & Reply",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "responseData": "={{ { \"reply\": $json.reply } }}"
      },
      "id": "Webhook_Response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Prepare Memory & Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Memory & Numbers": {
      "main": [
        [
          {
            "node": "ChatGPT Add Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT Add Numbers": {
      "main": [
        [
          {
            "node": "Save Memory & Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory & Reply": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "12345678-90ab-cdef-1234-567890abcdef",
  "id": "87654321-0fed-cba9-8765-4321098765fe",
  "meta": {
    "instanceId": "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6"
  },
  "tags": []
}
