workflows/join-numbers.json
{
  "name": "Simple Number Calculator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "testinggithub",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b8c7d4e5-f6g7-h8i9-j0k1-l2m3n4o5p6q7",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300],
      "webhookId": "a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p6"
    },
    {
      "parameters": {
        "functionCode": "// Debug: Log the incoming data\nconsole.log('Incoming data:', $json);\n\n// Get input numbers - handle both direct and nested data\nlet num1, num2;\n\nif ($json.body && typeof $json.body === 'object') {\n  // Data is in body (common with webhooks)\n  num1 = parseFloat($json.body.num1);\n  num2 = parseFloat($json.body.num2);\n} else {\n  // Data is direct\n  num1 = parseFloat($json.num1);\n  num2 = parseFloat($json.num2);\n}\n\n// Validate inputs\nif (isNaN(num1) || isNaN(num2)) {\n  return [{ \n    json: { \n      error: \"Both num1 and num2 must be valid numbers.\",\n      debug: {\n        receivedData: $json,\n        parsedNum1: num1,\n        parsedNum2: num2,\n        num1IsNaN: isNaN(num1),\n        num2IsNaN: isNaN(num2)\n      }\n    } \n  }];\n}\n\n// Calculate the sum\nconst result = num1 + num2;\n\n// Return the result\nreturn [{\n  json: {\n    result: result,\n    calculation: `${num1} + ${num2} = ${result}`,\n    inputs: {\n      num1: num1,\n      num2: num2\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "c9d8e7f6-g5h4-i3j2-k1l0-m9n8o7p6q5r4",
      "name": "Add Numbers",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "responseData": "={{ $json }}"
      },
      "id": "d8c7b6a5-f4g3-h2i1-j0k9-l8m7n6o5p4q3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Add Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Numbers": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "12345678-90ab-cdef-1234-567890abcdef",
  "id": "87654321-0fed-cba9-8765-4321098765fe",
  "meta": {
    "instanceId": "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6"
  },
  "tags": []
}
