workflows/test-cmpsychiatryoc.json
{
  "name": "Oncall Schedule Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "testcmpsychitaryoc",
        "responseMode": "lastNode"
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const input = items[0].json;\n\n// Flatten JSON for Airtable\nconst user = input.users[0];\nconst leave = user.leave_submissions?.[0] || {};\n\nreturn [{\n  json: {\n    requestId: input.requestId,\n    full_name: user.full_name,\n    role: user.role,\n    leave_type: leave.leave_type || null,\n    leave_start: leave.start_date || null,\n    leave_end: leave.end_date || null,\n    duration_days: leave.duration_days || null,\n    flexible_nights: user.working_preferences?.flexible_nights || false,\n    preferred_nights: (user.working_preferences?.preferred_nights || []).join(\", \"),\n    avoid_nights: (user.working_preferences?.avoid_nights || []).join(\", \"),\n    prioritise: user.working_preferences?.prioritise || false,\n    exempted_from_on_call: user.working_preferences?.exempted_from_on_call || false,\n    max_shifts_per_month: user.working_preferences?.max_shifts_per_month || null,\n    rota_start: input.rotaDates?.start || null,\n    rota_end: input.rotaDates?.end || null,\n    requestedAt: input.requestedAt\n  }\n}];"
      },
      "id": "2",
      "name": "Prepare Airtable Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "application": "",
        "table": "ShiftRequests",
        "options": {},
        "fields": {
          "Request ID": "={{$json[\"requestId\"]}}",
          "Full Name": "={{$json[\"full_name\"]}}",
          "Role": "={{$json[\"role\"]}}",
          "Leave Type": "={{$json[\"leave_type\"]}}",
          "Leave Start": "={{$json[\"leave_start\"]}}",
          "Leave End": "={{$json[\"leave_end\"]}}",
          "Duration Days": "={{$json[\"duration_days\"]}}",
          "Flexible Nights": "={{$json[\"flexible_nights\"]}}",
          "Preferred Nights": "={{$json[\"preferred_nights\"]}}",
          "Avoid Nights": "={{$json[\"avoid_nights\"]}}",
          "Prioritise": "={{$json[\"prioritise\"]}}",
          "Exempted from On Call": "={{$json[\"exempted_from_on_call\"]}}",
          "Max Shifts Per Month": "={{$json[\"max_shifts_per_month\"]}}",
          "Rota Start": "={{$json[\"rota_start\"]}}",
          "Rota End": "={{$json[\"rota_end\"]}}",
          "Requested At": "={{$json[\"requestedAt\"]}}"
        }
      },
      "id": "3",
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [750, 300],
      "credentials": {
        "airtableApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "operation": "list",
        "table": "ShiftRequests",
        "options": {}
      },
      "id": "4",
      "name": "Fetch All Requests",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": {
        "airtableApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "You are an AI scheduling assistant. Based on the following shift requests and preferences, generate a preview December 2024 on-call rota in JSON format with consultant, seniorRegistrar, registrar, donAdon for each date between rota_start and rota_end.\n\nData:\n{{$json}}"
      },
      "id": "5",
      "name": "OpenAI - Generate Schedule",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const aiOutput = items[0].json;\nconst now = new Date().toISOString();\nreturn [{\n  json: {\n    requestId: $items(\"Webhook Trigger\")[0].json.requestId,\n    success: true,\n    scheduleData: aiOutput.scheduleData || {},\n    metadata: {\n      processedAt: now,\n      aiModel: \"gpt-4\",\n      confidence: aiOutput.confidence || 0.95\n    }\n  }\n}];"
      },
      "id": "6",
      "name": "Format Webhook Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1500, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Prepare Airtable Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Airtable Data": {
      "main": [
        [
          { "node": "Save to Airtable", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save to Airtable": {
      "main": [
        [
          { "node": "Fetch All Requests", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch All Requests": {
      "main": [
        [
          { "node": "OpenAI - Generate Schedule", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI - Generate Schedule": {
      "main": [
        [
          { "node": "Format Webhook Response", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}
