workflows/test-cmpsychiatryoc.json
{
  "name": "Shift Schedule Summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "testcmpsychitaryoc",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "WebhookNode",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": [
          {
            "role": "system",
            "content": "You are a scheduling assistant. Summarize the incoming JSON data and format it in a readable table."
          },
          {
            "role": "user",
            "content": "{{$json}}"
          }
        ]
      },
      "id": "OpenAINode",
      "name": "ChatGPT Summary",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "openAIApi": "Your OpenAI API Key"
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "data",
        "fileName": "shift-summary.docx",
        "options": {}
      },
      "id": "WordNode",
      "name": "Generate Word Document",
      "type": "n8n-nodes-base.word",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "fromEmail": "you@example.com",
        "toEmail": "recipient@example.com",
        "subject": "n8n Response",
        "text": "Here is the Word document generated by n8n.",
        "attachments": [
          {
            "binaryPropertyName": "data",
            "fileName": "shift-summary.docx",
            "mimeType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
          }
        ]
      },
      "id": "EmailNode",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": {
        "smtp": "Your SMTP Credentials"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ChatGPT Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT Summary": {
      "main": [
        [
          {
            "node": "Generate Word Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Word Document": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}
