workflows/test-cmpsychiatryoc.json
{
  "name": "Oncall Rota AI Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "testcmpsychitaryoc",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const user = $json.users[0] || {};\nconst leave = (user.leave_submissions && user.leave_submissions[0]) || {};\nconst prefs = user.working_preferences || {};\n\nreturn [{\n  requestId: $json.requestId,\n  full_name: user.full_name,\n  role: user.role,\n  leave_type: leave.leave_type,\n  leave_start: leave.start_date,\n  leave_end: leave.end_date,\n  duration_days: leave.duration_days,\n  flexible_nights: prefs.flexible_nights,\n  preferred_nights: (prefs.preferred_nights || []).join(\", \"),\n  avoid_nights: (prefs.avoid_nights || []).join(\", \"),\n  prioritise: prefs.prioritise,\n  exempted_from_on_call: prefs.exempted_from_on_call,\n  max_shifts_per_month: prefs.max_shifts_per_month,\n  rota_start: $json.rotaDates.start,\n  rota_end: $json.rotaDates.end,\n  requestedAt: $json.requestedAt,\n  callbackUrl: $json.callbackUrl\n}];"
      },
      "id": "2",
      "name": "Flatten JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "application": "appYOUR_BASE_ID",
        "table": "RotaData",
        "fields": {
          "Full Name": "={{$json[\"full_name\"]}}",
          "Role": "={{$json[\"role\"]}}",
          "Leave Type": "={{$json[\"leave_type\"]}}",
          "Leave Start": "={{$json[\"leave_start\"]}}",
          "Leave End": "={{$json[\"leave_end\"]}}",
          "Duration Days": "={{$json[\"duration_days\"]}}",
          "Flexible Nights": "={{$json[\"flexible_nights\"]}}",
          "Preferred Nights": "={{$json[\"preferred_nights\"]}}",
          "Avoid Nights": "={{$json[\"avoid_nights\"]}}",
          "Prioritise": "={{$json[\"prioritise\"]}}",
          "Exempted From On Call": "={{$json[\"exempted_from_on_call\"]}}",
          "Max Shifts Per Month": "={{$json[\"max_shifts_per_month\"]}}",
          "Rota Start": "={{$json[\"rota_start\"]}}",
          "Rota End": "={{$json[\"rota_end\"]}}",
          "Requested At": "={{$json[\"requestedAt\"]}}",
          "Callback URL": "={{$json[\"callbackUrl\"]}}"
        }
      },
      "id": "3",
      "name": "Airtable Create",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [750, 300],
      "credentials": {
        "airtableApi": "Airtable API"
      }
    },
    {
      "parameters": {
        "operation": "list",
        "application": "appYOUR_BASE_ID",
        "table": "RotaData",
        "options": {}
      },
      "id": "4",
      "name": "Airtable Fetch",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": {
        "airtableApi": "Airtable API"
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "mode": "chat",
        "messages": [
          {
            "role": "system",
            "content": "You are a rota scheduling assistant. Given staff data from Airtable, output a JSON schedule in the exact format provided by the user."
          },
          {
            "role": "user",
            "content": "Staff Data:\n{{$json}}\n\nGenerate JSON in this exact structure:\n{\n  \"requestId\": \"uuid\",\n  \"success\": true,\n  \"scheduleData\": {\n    \"month\": \"December\",\n    \"year\": 2024,\n    \"shifts\": [ {\"date\": \"YYYY-MM-DD\", \"consultant\": \"\", \"seniorRegistrar\": \"\", \"registrar\": \"\", \"donAdon\": \"\" } ]\n  },\n  \"metadata\": { \"processedAt\": \"ISO timestamp\", \"aiModel\": \"gpt-4\", \"confidence\": 0.95 }\n}"
          }
        ]
      },
      "id": "5",
      "name": "OpenAI Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "openAiApi": "OpenAI API"
      }
    },
    {
      "parameters": {
        "functionCode": "const aiOutput = $json;\nreturn [ aiOutput ];"
      },
      "id": "6",
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1500, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Flatten JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten JSON": {
      "main": [
        [
          {
            "node": "Airtable Create",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Fetch": {
      "main": [
        [
          {
            "node": "OpenAI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analysis": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "v1"
}
